@media screen and (min-width: 1025px){
    .card1{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card2{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card3{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card4{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card5{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card6{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card7{
        height: 20%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card-text a{
        color: white;
        text-decoration: none;
        font-size: 60px;
        font-weight: 200px;
    }
    li a{
        font-size: large !important;
    }
}
@media screen and (max-width: 930px){
    
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card1{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card2{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card3{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card4{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card5{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card6{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card7{
        height: 15%;
        width: 33%;
        background-size: cover;
        background-position: center;
    }
    .card-text a{
        color: white;
        text-decoration: none;
        font-size: 60px;
        font-weight: 200px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .card1{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card2{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card3{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card4{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card5{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card6{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card7{
        height: 15%;
        width: 45%;
        background-size: cover;
        background-position: center;
    }
    .card-text a{
        color: white;
        text-decoration: none;
        font-size: 40px;
        font-weight: 200px;
    }
}
@media screen and (min-width:620px) and (max-width:898px){
    li a{
        font-size: medium !important;
    }
}
@media screen and (max-width:619px){
    li a{
        font-size: 10px !important;
    }
}
@media screen and (min-width: 200px) and (max-width: 480px) {
    .card1{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card2{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card3{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card4{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card5{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card6{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card7{
        height: 14%;
        width: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .card-text a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 200px;
    }
}